body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.disk {
  position: absolute;
  border-radius: 999px;
  width: 300px;
  height: 300px;
  background-color: var(--primary-color);
  filter: brightness(90%);
}

.disk-1 {
  width: 33vw;
  height: 33vw;
  left: 73px;
  top: 88px;
}

.disk-2 {
  width: 28vw;
  height: 28vw;
  left: 671px;
  top: 88px;
}

.disk-3 {
  width: 30vw;
  height: 30vw;
  right: 10vw;
  top: 60vh;
}

.header * {
  z-index: 1;
}

.background {
  z-index: 0;
  filter: blur(999px);
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

.local-selector {
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--text-color);
  appearance: none;
}

.local-selector select {
  appearance: none;
  outline: none;
  background: none;
  border: none;
  color: var(--text-color);
  padding: 10px;
}

.local-selector select option {
  color: var(--background-color);
}

.header h1 {
  font-size: 48px;
  margin-bottom: 90px;
  margin-top: 50px;
}

#header-desc {
  font-size: 40px;
  text-align: center;
  width: 845px;
}

#bottom-btn {
  margin-top: 50px;
  width: 103px;
  height: 103px;
  cursor: pointer;
}

.topic-block {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topic-block .content {
  width: 80vw;
  font-size: 18px;
}

.history .content p {
  margin: 20px 0px;
}

.it-skills .content {
  overflow-x: visible;
}

#os-message {
  font-weight: bold;
}

@media all and (min-width: 900px) {
  [data-inviewport="from-right"] {
    transition: 0.5s;
    transform: translate(400px);
  }

  [data-inviewport="from-right"].is-inViewport {
    transform: translate(0);
  }

  [data-inviewport="from-left"] {
    transition: 0.5s;
    transform: translate(-400px);
  }

  [data-inviewport="from-left"].is-inViewport {
    transform: translate(0);
  }

  [data-inviewport="fade-in"].is-inViewport {
    animation: fade-in 0.5s linear;
  }
}

.last-update-project {
  color: gray;
  font-size: 0.8rem;
  margin-left: 5px;
}

@media all and (max-width: 900px) {
  :root {
    --skills-wheel-size: 120px;
  }

  .header h1,
  #header-desc {
    font-size: 6vw;
  }

  #header-desc {
    width: 80vw;
  }

  .history {
    height: auto;
  }

  .history h1,
  .projects h1 {
    text-align: center;
  }

  .wheel-container {
    margin: 20px 0 !important;
  }

  * h1 {
    font-size: 1.8rem;
  }
}

@media all and (max-width: 550px) {
  .link {
    font-size: 3.3vw;
  }

  .last-update-project {
    font-size: 2.4vw;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
